# Rinomina questo file in .streamlit/secrets.toml (dentro la cartella del progetto)
# e NON committarlo mai su Git (aggiungilo a .gitignore)

garmin_email = "tuo@email.it"
garmin_password = "tuapassword"
